@font-face {
    font-family: BaseOneHeavy;
    src: url(../fonts/BaseOne-Heavy.otf);
}

body {
    color: #484848;
}

.title {
    font-family: BaseOneHeavy;
    letter-spacing: 2px;
    color: #fff;
    text-shadow: 2px 2px 0 #777;
}

.author {
    float: right;
    color: #fff;
}

header {
    background-color: #3CA99A;
    border-bottom: solid 3px #FF9F5B;
}

.body {
    min-height: 400px;
}

table {
    border: 1px solid #aaa !important;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #ddd;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #ddd;
}

.break {
    margin-top: 10px;
    margin-bottom: 10px;
}

.dataTables_length, .dataTables_filter {
    margin-bottom: 8px;
}

.dataTables_length label select {
    border: solid 1px #aaa;
    border-radius: 0;
    background-color: #fff;
    color: #444;
}

.dataTables_filter label input {
    border: solid 1px #aaa;
    color: #444;
}

footer {
    background-color: #4A70B1;
    border-top: solid 3px #F4B035;
    min-height: 142px;
    padding-top: 8px;
    color: #ddd;
}